
@media (max-width: 375px) {


    .main-container{
        display: flex;
        flex-flow: row wrap;
    }

    .image-container {
        border-radius: 20px;
        margin-top: 25px;
        margin-left: 15px;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .perfume {
        margin-left: 20px;
        width: 320px;
        
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 12%, 48%);
    }
    .title h1 {
        
        width: 100%;
        height: 100%;
        font-size: 500;
        font-family: 'Fraunces', serif;
        margin-left: 20px;
        margin-top: -10px;
    }
    .precio-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-end;

    }
    .precio {
        display: flex;
        flex: row;
        margin-top: -14px;
    }
    .precio-verde {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 20px;
    color:hsl(158, 36%, 37%) ;
    }
    .precio-normal {
        margin-top: 55px;
        margin-left: 25px;
        text-decoration:line-through;
        color: hsl(228, 12%, 48%);
    }
    
    .parrafo {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 12%, 48%);
        margin-left: 20px;
    }

    .button {
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -10px;
    background-color: hsl(158, 36%, 37%);
    border-style: none;
    border-radius: 12px;
    color: white;
    height: 50px;
    width: 200px;
    font-size: medium;
    }

    .button svg {
        margin-top: 4px;
        margin-right: 10px;
        
    }
}

@media (min-width: 376px) {

    .main-container{
    display: grid;
    grid-template-columns: 1fr 300px 300px 50px 50px 1fr;
    grid-template-rows: 1fr 60px 1fr 100px 100px 60px 60px;
    }

    .image-container {
        grid-row-start: 2;
        grid-row-end: 7;
        grid-column-start: 2;
        border-radius: 20px;
        
    }
    
    .image-container img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
       
    }
    .parrafo {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 12%, 48%);
        margin-left: 20px;
        grid-row-start: 4;
        grid-column-start: 3;
    }
    .perfume {
        margin-left: 20px;
        width: 320px;
        grid-row-start: 2;
        grid-column-start: 3;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 12%, 48%);
    }
    .title h1 {
        
        width: 100%;
        height: 100%;
        font-size: 500;
        font-family: 'Fraunces', serif;
        margin-left: 20px;
    }
    .title  {
        grid-row-start:3;
        grid-column-start:3;
    }
    .precio {
        grid-row-start:5;
        grid-column-start:3;

    }
    .precio-verde {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 20px;
    color:hsl(158, 36%, 37%) ;
    }
    .precio-normal {
        display: none;
        text-decoration:line-through;
        color: hsl(228, 12%, 48%);
    }
    .button {
    grid-row-start:6;
    grid-row-end: 7;
    grid-column-start:3;
    grid-column-end: 4;
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
    background-color: hsl(158, 36%, 37%);
    border-style: none;
    border-radius: 12px;
    color: white;
    height: 100%;
    width: 100%;
    font-size: medium;
    margin-left: 20px;
    }

    .button svg {
        margin-top: 4px;
        margin-right: 10px;
        
    }

}